body {
	background:#274286;
}

#header {
	background-color: #274286;
   margin-top:10px;
}
#search input[type=text], #search button {
	background-color: #28b779;
}
#search input[type=text]:focus {
	color: #777777;
}


#search input[type=text] {
	background-color: #47515b; color: #fff; 
}
#search input[type=text]:focus {
	color: #274286; color: #fff; box-shadow:none;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background:#666;
   
}
.top_message{ float:right; padding:20px 12px; position:relative; top:-13px; border-left:1px solid #3D3A37; font-size:14px; line-height:20px; *line-height:20px; color:#333; text-align:center;  vertical-align:middle; cursor:pointer; }
.top_message:hover{ background:#000}
.rightzero{ right:0px; display:none;}
@media (max-width: 480px) {

	.quick-actions_homepage .quick-actions li{ min-width:100%;}
}
@media (min-width: 768px) and (max-width: 970px) {.quick-actions_homepage .quick-actions li{ min-width:20.5%;}}
@media (min-width: 481px) and (max-width: 767px) {

	.quick-actions_homepage .quick-actions li{ min-width:47%;}
}
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}



.weizhi {
	width: 100%;
	height: 50px;
	line-height:50px;
	text-align: left;
	font-size:14px;
	color: #666;
	background: url(../images/wzdot.png) no-repeat left;
	padding-left:35px;
	margin: 0px 20px;
}

.container-fluid { height: auto; padding-bottom: 20px}

.main {}

.back {
	float: right !important;}
#user-nav > ul > li.back > a {
	font-size: 30px !important;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	-webkit-box-shadow:  1px 1px 0px #666;
	-moz-box-shadow:  1px 1px 0px #666;
	box-shadow: 1px 1px 0px #666;
}
.back .text {
	display: none;}