body { margin: 0px; padding: 0px; font-size: 14px; font-family: "Microsoft Yahei"; color: #555}
div,ul,li{ margin: 0px; padding: 0px;}
ul,li { list-style: none}
i { margin: 0px;
    padding:0px;}
select::-ms-expand { display: none; }
table { border-collapse: collapse; border-spacing: 0px; font-size: 14px;}
table,tr,td { margin: 0px; padding: 0px;}
textarea { border: 1px solid #ccc; padding: 10px; line-height: 24px; overflow-y: auto; font-size: 14px; text-align: left; color: #555}
input[type=text],input[type=password],select{ border: 1px solid #ccc; padding: 0px 5px; width: 70%; height:24px; line-height: 24px; color: #555; float: left; font-size: 14px;}
option { color: #555; line-height: 24px; height: 24px;}
input:hover, select:hover, textarea:hover,.inputCover {
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: #fff url(../images/my_xiala1.gif) 93% 9px no-repeat;
    padding:0px 14px 0px 5px!important;
    height: 26px;
}

input[disabled=disabled],select[disabled=disabled]{
    background-color: #eee;
}
.inputNumber { width: 20px!important; height: 14px;}
.fl { float: left}
.fr { float: right}
.none { display: none}
.clear { height: 1px; line-height: 1px; overflow: hidden; clear: both;}
.jia {
    text-align: center;
    padding: 0px;
    border: 1px solid #ccc;
    background: #eee;
    width: 26px!important;
    height: 26px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    float: left;
}
#tanchuang { position:absolute; width: 100%; height: 100%; top:0px; bottom: 0px; left: 0px; right:0px; z-index: 9999; background: rgba(0,0,0,0.5)}
.bgblack { width: 100%; height: 100%; top:0px; right:0px; left: 0px; bottom: 0px; background: rgba(0,0,0,0.2); position:fixed; z-index: 980; display: block}
.tanchuang { position:fixed; top:10%; left: 0px; right: 0px; margin: auto; z-index: 990; width: 980px; height:auto; display: block; padding:40px 30px 30px 30px; background: #f1f1f1; border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 8px #bbb;
    -moz-box-shadow: inset 0px 0px 8px #bbb;
    box-shadow: inset 0px 0px 8px #bbb;
    border: 1px solid #bbb;
    animation: bottomtotop 0.5s;
    -webkit-animation: bottomtotop 0.5s;
    -moz-animation: bottomtotop 0.5s;
    -ms-animation: bottomtotop 0.5s;
    -o-animation: bottomtotop 0.5s;
}
.tanchuang:after { content: ''; display: block; clear: both; height: 0px; line-height: 0px; overflow: hidden}
.tanchuang dl { font-size: 14px; margin-bottom: 10px; margin-top: 0px;}
.tanchuang dl:after {  content: ''; display: block; clear: both; height: 0px; line-height: 0px;
    overflow: hidden;}
.tanchuang dl dt { padding: 5px 10px; width:75px; min-height:30px; line-height: 30px; border-bottom: 1px solid #d3daeb; border-right: 1px solid #d3daeb; float: left; text-align: right }
.tanchuang dl dd { padding: 5px 10px; margin: 0px; width: 183px; line-height: 30px; overflow: visible; background:#c0cae3; border-bottom: 1px solid #d3daeb; border-right: 1px solid #d3daeb; float: left; text-align: left }
.tanchuang dl dd span { float: right}
.tanchuang dl dd b { color: #0d2460;}
.tanchuang dl dd strong { color: #a14e04;}
.tanchuang dl dd .lbselect { width: 174px; height: 28px; line-height: 28px; background: #fff; border:1px solid #eee; margin: 0px;}
.tanchuang dl dd.xieyi { width: 483px; line-height: 30px;}
.tanchuang dl dt.beizhu { border-bottom:0}
.tanchuang dl dd.beizhu { width: 483px; border: none}
.tanchuang dl dd.beizhu textarea { width: 95%; height: 50px; line-height: 24px; padding: 10px; margin-top: 10px; background: #fff; border: 1px solid #ccc;}
.tanchuang dl dd input[type=text] { width: 90%; height: 28px; text-align: left; padding: 0px 5px;line-height: 28px; border: 1px solid #ccc; margin: 0px;margin-top: -4px;}
.tsinput { width: 60px!important; margin: 0px;}
.tanchuang dl.add_delet { background: none; height: 25px; line-height: 25px; text-align: left; font-size:20px; margin: 0px; font-weight: lighter}
.tanchuang dl dd i { width: 25px; height: 25px; line-height: 25px; float: right; font-size: 20px; color: #6b8bdf; margin: 0px; margin-top: 3px;}
.tanchuang dl dd i span { display: none}
.tctit { height: 2px; line-height: 2px; background: #a8b8e2; position: relative}
.tctit h1 { font-size: 16px; line-height: 30px; position: absolute; width: 150px; top:-30px; left: 50%; margin-left: -75px; text-align: center; padding: 0px 10px; color: #274286; background: #f1f1f1;
text-shadow: 0px 2px 0px #fff,0px -2px 0px #fff,2px 0px 0px #fff, -2px 0px 0px #fff;
}
.tanchuang dl.tabsheet { margin-bottom: 0px; margin-top: 20px; background: none;line-height: 25px;text-shadow: 1px 0px 0px #fff,-1px 0px 0px #fff,0px 1px 1px #fff,0px -1px 0px #fff;color: #274286;}
.tanchuang dl.tabsheet dt { width: 100px; height: 25px; line-height: 25px; border:1px solid #aaa; border-bottom:0; border-radius: 3px 3px 0px 0px; text-align: center; margin-right: 5px; float: left;
    color: #274286; cursor: pointer; background: linear-gradient(#c0d1fc, #9db1e7);
}
.tanchuang dl.tabsheet dt:hover,.tanchuang dl.tabsheet dt.hover {background: linear-gradient(#4a5ba4, #dee7fe); }
.tanchuang .jiesuan { padding:20px 0px; background: #ccc; text-align: left; margin-top: 20px; border:1px dashed #6b8bdf}
.tanchuang .jiesuan dt { width: 98px; border-right: none; border-bottom: 1px solid #aaa; background: none; text-align: right;}
.tanchuang .jiesuan dd { width: 175px; border-right: none; border-bottom: 1px solid #aaa; background: none; text-align: left }
.tanchuang .jiesuan .reprint { width: 245px; text-align: right; color: #e00808; text-shadow: 1px 1px 0px #bbb;}
.tanchuang .jiesuan .reprint input[type=checkbox]{ margin-top: -2px; margin-right: 3px;}
.tanchuang dl .dwselect { width:98%; height: 30px; margin-top: 5px; border: 1px solid #ccc; line-height: 30px; }
.tanchuang dl.jiesuan .input { border: 1px solid #ccc; height: 28px; line-height: 28px; width: 93%;}


.tc_xl{width:90%;padding-left: 10px; position:relative;background: #fff url(../images/my_xiala1.gif) 93% 9px no-repeat;cursor:pointer; height: 24px; line-height: 24px; border: 1px solid #ccc;}
.tc_xl_txt{float:left;width: 100%;line-height: 24px;padding-right:17px;color:#555; font-size: 14px; font-weight: normal}
.tc_xl_list{border:1px solid #ccc; background: #fff}
.tc_xl_txt,.tc_xl_list li{text-indent:0px;overflow:hidden;}
.tc_xl_list{z-index:99;position:absolute;top: 25px;left:-1px;z-index:88888;border-top:none;width:100%;display:none;_top:23px;margin-left:0px !important}
.tc_xl_list li{list-style:none;height: 24px;line-height: 24px;cursor:default;background:#fff;padding-left: 10px;color:#555; font-size: 14px; font-weight: normal}
.tc_xl_list li.focus{background:#3399FF;color:#fff}
.tc_xl_list li.llfd { width: 227px; float: left; text-align: left;}


@keyframes bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-webkit-keyframes bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-moz-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-ms-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-o-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}


/*表格样式*/
table { width: 100%; margin-bottom: 10px; color:#555; padding: 5px 10px !important;
    border-collapse: inherit;}
td { padding: 5px 5px 5px 0px; height: 25px; line-height: 25px;}
td:nth-child(odd) { width: 75px; text-align: right;}
td:nth-child(even){ text-align: left}
table tr td:last-child{ border-right: none}
.price { color: #0d2460; font-weight: bold; margin-right: 5px;}
.roomID { color: #a14e04; font-weight: bold}
.tableBorderaaa { border:5px solid #fff;background: #f1eae1;
    -webkit-box-shadow: 1px 1px 0px #bbb;
    -moz-box-shadow: 1px 1px 0px #bbb;
    box-shadow: 1px 1px 0px #bbb; margin-top: 20px; width: 940px;}
.tableBorderaaa td { border-bottom: 1px solid #fff}
.tableBorderaaa tr:last-child td { border: none}
.tableBordernone { border:5px solid #fff;background: #e1eaff;
    -webkit-box-shadow: 1px 1px 0px #bbb;
    -moz-box-shadow: 1px 1px 0px #bbb;
    box-shadow: 1px 1px 0px #bbb; margin-top: 20px; width: 940px;}
.tableBordernone td { border-bottom: 1px solid #fff; }
.tableBordernone tr:last-child td { border: none}


/*.tableBorderaaa { border:1px solid #eee;}
.tableBorderaaa tr { border-bottom: 1px solid #eee}
.tableBorderaaa tr td { border-right:1px solid #eee; background: #c0cae3}
.tableBorderaaa tr td:nth-child(even){ background: #fff;}
.tableBordernone { border: none}
.tableBordernone tr { border-bottom: 1px solid #fff; background:#c0cae3 }
.tableBordernone tr td { border: none; background: none; border-right: 1px solid #fff;}
.tableBordernone tr td:last-child{border-right: none}
.tableBordernone tr:nth-child(2n){ background: #e1eaff}*/
.tableBorderfff { border: 5px solid #fff; background: #e1e1e1;
    -webkit-box-shadow: 1px 1px 0px #bbb;
    -moz-box-shadow: 1px 1px 0px #bbb;
    box-shadow: 1px 1px 0px #bbb; margin-top: 20px; width: 940px;}
.tableBorderfff td { border-bottom: 1px solid #c1c1c1}
.tableBorderfff tr:last-child td { border: none}

/*明细打印表格*/
.printbg { position: fixed; left: 0px; right: 0px; top:0px; bottom:0px; background: rgba(0,0,0,0.1); z-index: 998}
.print {width:950px; position: fixed;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    top:10%;
    left: 50%;
    margin-left: -475px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
    background: #fff;
    border:1px solid #aaa;
    -webkit-animation:printIn 0.5s;
    -o-animation:printIn 0.5s;
    animation:printIn 0.5s;
    overflow: hidden;
}
.print h1 { height: 40px; line-height: 40px;
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(#eee,#aaa);
}
.print .printcon { margin: 10px; position: relative; border: 1px solid #ccc;}
.tableHeadDiv { width: 100%; position: absolute; top:0px; height: 35px;}
.printTableHead tr {  background: linear-gradient(#4f7bee,#3e5797); color:#fff; font-weight: bold}
.printTableHead tr td { border-right: 1px solid #fff; text-align: center; line-height: 35px; padding: 0px 5px;}
.printTableHead tr td:last-child { border-right: none}

.tableDiv { margin-top: 35px; overflow: auto}
.printTable { display: table;}
.printTable tr { border-bottom: 1px solid #fff; height: auto;}
.printTable td { width: auto; height: auto; padding: 5px 5px; border-right: 1px solid #fff; text-align: center; line-height: 24px; font-weight: normal}
.printTable tr td:last-child{ border-right: none}
.printTable tr:nth-child(odd){ background: #c0cae3}
.printTable tr:nth-child(even){ background: #e1eaff}
.printTable tr:hover { background: #94aae1; cursor: pointer; color: #d20000}


.tableHeadDiv { width: 100%; position: absolute; top:0px; height: 35px;}
.tableDiv { margin-top: 35px; overflow: auto}
.buyTableHead tr {  background: linear-gradient(#d7be84,#be932c); color:#fff; font-weight: bold; text-align: center;}
.buyTableHead tr td { border-right: 1px solid #fff; text-align: center; line-height: 35px; padding: 0px 5px;}
.buyTableHead tr td:last-child { border-right: none}
.tableBuy {}
.tableBuy tr { cursor: pointer}
.tableBuy tr:nth-child(odd) { background: #f1e9dd}
.tableBuy tr:nth-child(even){ background: #e3d9c0}
.tableBuy tr:hover { background:#d8c9a3; color:#d20000}
.tableBuy td { width: auto; height: auto; padding: 5px 5px; border-right: 1px solid #fff; text-align: center; line-height: 24px; font-weight: normal}
.inputCategory { width:77%; margin-top: 5px; float: left; margin-left: 10px;}


/*房吧录入*/
.snackbox { width: 400px; margin-top: 10px;}
.snackbox h1 { height: 40px; line-height: 40px; margin: 0px; padding: 0px; text-align: left; font-size: 16px; color: #da0000}
.snackbox .snackListBox { width:398px; border: 1px solid #ccc; height: 360px; background: #fff; position: relative}
.snackButton { width: 50px; padding-top: 180px;}
.snackButton i{ width: 35px; height: 25px; line-height: 25px; font-size: 16px; text-align: center; display: block; float: left; margin-bottom: 10px;
    margin-left: 7px; background: linear-gradient(#eee,#bbb); border: 1px solid #ccc;
}


.productSearch { width: 398px; border: 1px solid #ccc; height: 28px; line-height: 28px; background: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; margin-top: 10px;}
.productSearch input { width: 340px; height: 25px; line-height: 25px; margin: 0px; border: none; padding: 0px; outline: none}
.productSearch i { width: 30px; height: 28px; line-height: 28px; text-align: center; font-size: 20px; color: #bbb; float: left; display: block}

@keyframes printIn {0%{opacity: 0}100%{opacity: 1}}

/*表格筛选样式*/
.tableFilter { border: 1px solid #bbb; position: relative; padding: 20px; margin-bottom: 20px; margin-top: 20px;}
.tableFilter .tFtit { width: 100px; height: 40px; line-height: 40px; text-align: center; font-weight: bold; font-size: 14px; color:#da0000; position: absolute; top:-30px; left: 10px; background: #e5e5e5; z-index: 999}
.tableFilter .tFul { margin: 0px; padding: 0px;}
.tableFilter .tFul:after { display: block; width: 100%; height: 0px; line-height: 0px; overflow: hidden; clear: both; content: ''}
.tableFilter .tFul li { float: left; height: 30px; line-height: 30px; padding: 0px 5px;}
.tableFilter .tFul li:nth-child(3) { margin-right: 15px;}
.tableFilter .tFul li .tc_xl{ width: 120px;}

.tableConsumption { height: 550px; position: relative; border: 1px solid #ccc}/*消费明细表格高度限制*/

/*离店结算按钮样式*/
.leaveButton { width: 290px; float: right}
.leaveButton .button { margin: 0px; padding: 5px 0px; border: none}
.leaveButton .button a.sbe { width: 80px; height: 20px; line-height: 20px; overflow: hidden; display: block; float: left; margin-bottom: 10px;}

/*房号样式*/
.tanchuang .checkInRoom { width: 100%; height: auto; overflow: auto; padding: 0px;}
.checkInRoom { height: 160px; overflow-y: auto; padding: 20px 0px 10px 10px}
.checkInRoom .roomID,.checkInRoomC .roomID { width: 60px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #fff; background: #e5e5e5;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
    -moz-box-shadow: 1px 1px 1px #999;
    float: left;
    display: block;
    margin:4px 4px;
    color:#3e5797; font-weight: normal; font-size: 12px;
}
.checkInRoom .roomID:hover,.checkInRoomC .roomID:hover { color: #a14e04}
.checkInRoom .roomID.hover,.checkInRoomC .roomID.hover  { background:#a14e04; color: #fff; }
/*房号样式end*/

.button {  background: none; margin-top: 20px; text-align: center;border-top: 2px solid #c0cae3;  padding-top: 20px;}
.button input[type=button],.button .sbegray { padding: 7px 20px; text-align: center; margin-right: 9px; border:1px solid #ba9761;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; background: linear-gradient(#ffd777,#a16200);
    color: #6e3e00; cursor: pointer; font-weight: bold; margin-bottom: 10px;
    -webkit-box-shadow:inset -1px 0px 0px #c2a16e, inset 0px -1px 0px #c2a16e,inset 1px 1px 0px #e2c089;
    -moz-box-shadow:inset -1px 0px 0px #c2a16e, inset 0px -1px 0px #c2a16e,inset 1px 1px 0px #e2c089;
    box-shadow:inset -1px 0px 0px #c2a16e, inset 0px -1px 0px #c2a16e,inset 1px 1px 0px #e2c089;}
.button input[type=button]:hover { background: linear-gradient(#a16200,#ffd777); border:1px solid #ba9761!important;}
.button .sbegray { background: linear-gradient(#eee,#afafaf)!important; border: 1px solid #bbb!important;
    -webkit-box-shadow:inset -1px 0px 0px #f1f1f1, inset 0px -1px 0px #eee,inset 1px 1px 0px #eee;
    -moz-box-shadow:inset -1px 0px 0px #c2a16e, inset 0px -1px 0px #c2a16e,inset 1px 1px 0px #e2c089;
    box-shadow:inset -1px 0px 0px #f1f1f1, inset 0px -1px 0px #eee,inset 1px 1px 0px #eee!important; color: #555!important;
}

/*新增随客信息*/
.addCustomerh1 { border-bottom: 1px dashed #ccc; line-height: 20px; margin: 0px; padding: 0px; text-align: left; font-size: 14px; font-weight: normal;}
.addCustomerh1 a { color: #0e90d2}
input.butn {
    background: #b79044;
    border: 0px;
    color: #FFF;
    cursor: pointer;
    width: 30px;
    height: 26px;
    float: left;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    padding-left: 6px;
    margin-top: -10px;
    margin-bottom: 5px;
}

/**/
.accruedBox { width: 700px; margin-top: 50px; float: left; margin-left: 50px; border: 2px solid #ccc; background: #eee; position: relative; padding: 30px;
    -webkit-box-shadow:3px 3px 0px #ccc;
    -moz-box-shadow:3px 3px 0px #ccc;
    box-shadow:3px 3px 0px #ccc;}
.accruedTitle { width: 120px; height: 20px; line-height: 20px; font-size: 16px; font-weight: bold; text-align: center; background: #eee; position: absolute; top: -20px; left: 50%; margin-left: -60px;color: #3e5797;
    text-shadow: 2px 2px 0px #fff,-2px -2px 0px #fff;}

.accruedTableBox { float: left; margin-left: 50px; margin-top: 50px; position: relative}

.tableBlue thead td {
    font-size: 14px;
    border-bottom: 1px #967040 solid;
    border-right: 1px #efd6a5 solid;
    height: 32px;
    background: #b79044;
    color: #FFF;
    font-weight: bold;
}
.tableBlue td {
    border-bottom: 1px #ddd solid;
    border-right: 1px #ddd solid;
    line-height: 28px;
    text-align: center;
    padding: 2px 5px;
    font-size: 12px;
    background: #fff;

}
.tableBlue input,.tableBlue select{ width: 88%; float: none}


