i { margin: 0px;
    padding:0px;}

.bgblack { width: 100%; height: 100%; top:0px; right:0px; left: 0px; bottom: 0px; background: rgba(0,0,0,0.2); position:fixed; z-index: 980; display: block}
.tanchuang { position:fixed; top:10%; left: 0px; right: 0px; margin: auto; z-index: 990; width: 600px; height:auto; display: block; padding:40px 30px 30px 30px; background: #e5e5e5; border-radius: 15px;
    -webkit-box-shadow: inset 0px 0px 10px #666;
    -moz-box-shadow: inset 0px 0px 10px #666;
    box-shadow: inset 0px 0px 10px #666;
    border: 1px solid #ccc;
    animation: bottomtotop 0.5s;
    -webkit-animation: bottomtotop 0.5s;
    -moz-animation: bottomtotop 0.5s;
    -ms-animation: bottomtotop 0.5s;
    -o-animation: bottomtotop 0.5s;
}
.tanchuang:after { content: ''; display: block; clear: both; height: 0px; line-height: 0px; overflow: hidden}
.tanchuang dl { background:#a8b8e2; font-size: 14px; margin-bottom: 10px; margin-top: 0px;}
.tanchuang dl:after {  content: ''; display: block; clear: both; height: 0px; line-height: 0px;
    overflow: hidden;}
.tanchuang dl dt { padding: 5px 10px; width:75px; min-height:30px; line-height: 30px; border-bottom: 1px solid #d3daeb; border-right: 1px solid #d3daeb; float: left; text-align: right }
.tanchuang dl dd { padding: 5px 10px; margin: 0px; min-height:30px; width: 183px; line-height: 30px; background:#c0cae3; border-bottom: 1px solid #d3daeb; border-right: 1px solid #d3daeb; float: left; text-align: left }
.tanchuang dl dd span { float: right}
.tanchuang dl dd b { color: #0d2460;}
.tanchuang dl dd .lbselect { width: 174px; height: 28px; line-height: 28px; background: #fff; border:1px solid #eee; margin: 0px;}
.tanchuang dl dd.xieyi { width: 483px; line-height: 30px;}
.tanchuang dl dt.beizhu { border-bottom:0}
.tanchuang dl dd.beizhu { width: 483px; border: none}
.tanchuang dl dd.beizhu textarea { width: 95%; height: 50px; line-height: 24px; padding: 10px; margin-top: 10px; background: #fff; border: 1px solid #ccc;}
.tanchuang dl dd input[type=text] { width: 90%; height: 28px; text-align: left; padding: 0px 5px;line-height: 28px; border: 1px solid #ccc; margin: 0px;margin-top: -4px;}
.tanchuang dl dd .tsinput { width: 60px!important;}
.tanchuang dl.add_delet { background: none; height: 25px; line-height: 25px; text-align: left; font-size:20px; margin: 0px; font-weight: lighter}
.tanchuang dl dd i { width: 25px; height: 25px; line-height: 25px; float: right; font-size: 20px; color: #6b8bdf; margin: 0px; margin-top: 3px;}
.tanchuang dl dd i span { display: none}
.tanchuang dl.tctit { height: 2px; line-height: 2px; background: #a8b8e2; position: relative}
.tanchuang dl.tctit h1 { font-size: 16px; line-height: 30px; position: absolute; width: 150px; top:-30px; left: 50%; margin-left: -75px; text-align: center; padding: 0px 10px; color: #274286; background: #e5e5e5;
text-shadow: 0px 2px 0px #fff,0px -2px 0px #fff,2px 0px 0px #fff, -2px 0px 0px #fff;
}
.tanchuang dl.tabsheet { margin-bottom: 0px; background: none;line-height: 25px;text-shadow: 1px 0px 0px #fff,-1px 0px 0px #fff,0px 1px 1px #fff,0px -1px 0px #fff;color: #274286;}
.tanchuang dl.tabsheet dt { width: 100px; height: 25px; line-height: 25px; border-bottom: 1px solid #fff; border-radius: 3px 3px 0px 0px; background: linear-gradient(#a8b8e2, #dee7fe); text-align: center; margin-right: 5px; float: left;
    color: #274286; cursor: pointer;
}
.tanchuang dl.tabsheet dt:hover { background: linear-gradient(#c0d1fc, #9db1e7);}
.tanchuang .jiesuan { padding:20px 0px; background: #eee; text-align: left; margin-top: 20px; border-top:2px solid #6b8bdf}
.tanchuang .jiesuan dt { width: 98px; border-right: none; border-bottom: 1px solid #ccc; background: none; text-align: right;}
.tanchuang .jiesuan dd { width: 175px; border-right: none; border-bottom: 1px solid #ccc; background: none; text-align: left }
.tanchuang .jiesuan .reprint { width: 245px; text-align: right; color: #e00808; text-shadow: 1px 1px 0px #bbb;}
.tanchuang .jiesuan .reprint input[type=checkbox]{ margin-top: -2px; margin-right: 3px;}
.tanchuang dl .dwselect { width:98%; height: 30px; margin-top: 5px; border: 1px solid #ccc; line-height: 30px; }
.tanchuang dl.jiesuan .input { border: 1px solid #ccc; height: 28px; line-height: 28px; width: 93%;}
.tanchuang dl.button {  background: none; margin-top: 20px; text-align: center}
.tanchuang dl.button input[type=button] { padding: 10px 20px; text-align: center; margin: 0px auto; margin-right: 10px; border: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; background: linear-gradient(#ff8400, #a75a07);
    color: #fff;}
.tanchuang dl.button input.gray { background: linear-gradient(#eee,#dbdbdb); color:#666; border: 1px solid #ccc}
.tc_xl{width: 90%; padding-left: 10px; border-radius:4px; position:relative;background: #fff url(../images/my_xiala1.gif) 90% 10px no-repeat;cursor:pointer; height: 28px; line-height: 28px; border: 1px solid #ccc;}
.tc_xl_txt{float:left;width: 100%;line-height: 28px;padding-right:17px;color:#666;}
.tc_xl_list{border:1px solid #ccc;}
.tc_xl_txt,.tc_xl_list li{text-indent:0px;overflow:hidden;}
.tc_xl_list{z-index:99;position:absolute;top: 30px;left:-1px;z-index:88888;border-top:none;width:100%;display:none;_top:23px;margin-left:0px !important}
.tc_xl_list li{list-style:none;height: 30px;line-height: 30px;cursor:default;background:#fff;padding-left: 10px;color:#666}
.tc_xl_list li.focus{background:#3399FF;color:#fff}
.tc_xl_list li.llfd { width: 227px; float: left; text-align: left;}


@keyframes bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-webkit-keyframes bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-moz-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-ms-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}
@-o-keyframes  bottomtotop {0%{top:20%; opacity: 0}100%{top:10%; opacity: 1}}