.canUseRoom { border: 2px solid #ccc; margin-top: 20px; position: relative; height: 200px;}
.canUseRoom .curTit { width: 70px; height: 20px; line-height: 20px; position: absolute;
    top:-20px; text-align: center; font-size: 14px; color: #0e90d2; background: #e1eaff; left: 50%; margin-left: -35px;}
.checkInRoom { height: 160px; overflow-y: auto; padding: 20px 0px 10px 10px}
.checkInRoom .roomID,.checkInRoomC .roomID { width: 60px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #fff; background: #e5e5e5;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
    -moz-box-shadow: 1px 1px 1px #999;
    float: left;
    display: block;
    margin:4px 4px;
    color:#3e5797; font-weight: normal; font-size: 12px;
}
.checkInRoom .roomID:hover,.checkInRoomC .roomID:hover { color: #a14e04}
.checkInRoom .roomID.hover,.checkInRoomC .roomID.hover  { background:#a14e04; color: #fff; }