.printbg { position: fixed; left: 0px; right: 0px; top:0px; bottom:0px; background: rgba(0,0,0,0.1); z-index: 998}
.print {width:950px; position: fixed;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    top:10%;
    left: 50%;
    margin-left: -475px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
    background: #fff;
    border:1px solid #aaa;
    -webkit-animation:printIn 0.5s;
    -o-animation:printIn 0.5s;
    animation:printIn 0.5s;
    overflow: hidden;
}
.print h1 { height: 40px; line-height: 40px;
    margin:0px;
    padding:0px;
    text-align: center;
    font-size: 16px;
    background: linear-gradient(#eee,#aaa);
}
.print .printcon { margin: 10px; max-height: 650px;overflow-y:auto;}
.printTable { border: 1px solid #ccc;}
.printTable tr { border-bottom: 1px solid #fff; height: auto;}
.printTable td { width: auto; height: auto; padding: 5px 10px; border-right: 1px solid #fff; text-align: center; line-height: 24px; font-weight: normal}
.printTable tr td:last-child{ border-right: none}
.printTable tr:nth-child(odd){ background: #c0cae3}
.printTable tr:nth-child(even){ background: #e1eaff}
.printTable tr:first-child { background: linear-gradient(#4f7bee,#3e5797); color:#fff;}
.printTable tr:first-child td { font-weight: bold}
.printTable tr:first-child:hover {background: linear-gradient(#4f7bee,#3e5797); cursor: inherit}
.printTable tr:hover { background: #94aae1; cursor: pointer}

@keyframes printIn {0%{opacity: 0}100%{opacity: 1}}

/*表格筛选样式*/
.tableFilter { border: 1px solid #bbb; position: relative; padding: 20px; margin-bottom: 20px; margin-top: 20px;}
.tableFilter .tFtit { width: 100px; height: 40px; line-height: 40px; text-align: center; font-weight: bold; font-size: 14px; color:#da0000; position: absolute; top:-30px; left: 10px; background: #e5e5e5; z-index: 999}
.tableFilter .tFul { margin: 0px; padding: 0px;}
.tableFilter .tFul:after { display: block; width: 100%; height: 0px; line-height: 0px; overflow: hidden; clear: both; content: ''}
.tableFilter .tFul li { float: left; height: 30px; line-height: 30px; padding: 0px 5px;}
.tableFilter .tFul li:nth-child(3) { margin-right: 15px;}
.tableFilter .tFul li .tc_xl{ width: 120px;}

.tableConsumption { height: 550px; overflow-y: auto}/*消费明细表格高度限制*/

/*离店结算按钮样式*/
.leaveButton { width: 290px; float: right}
.leaveButton .button { margin: 0px; padding: 5px 0px; border: none}
.leaveButton .button a.sbe { width: 80px; height: 20px; line-height: 20px; overflow: hidden; display: block; float: left; margin-bottom: 10px;}



