.snackbox { width: 400px; margin-top: 10px;}
.snackbox h1 { height: 40px; line-height: 40px; margin: 0px; padding: 0px; text-align: left; font-size: 16px; color: #da0000}
.snackbox .snackListBox { width:378px; padding: 10px; border: 1px solid #ccc; height: 360px; overflow-y: auto; background: #fff}
.snackButton { width: 50px; padding-top: 180px;}
.snackButton i{ width: 35px; height: 25px; line-height: 25px; font-size: 16px; text-align: center; display: block; float: left; margin-bottom: 10px;
 margin-left: 7px; background: linear-gradient(#eee,#bbb); border: 1px solid #ccc;
}

.tableBuy {border: 1px solid #ccc;}
.tableBuy tr { cursor: pointer}
.tableBuy tr:nth-child(odd) { background: #f1e9dd}
.tableBuy tr:nth-child(even){ background: #e3d9c0}
.tableBuy tr:first-child { background: linear-gradient(#d7be84,#be932c); color: #fff; text-align: center; font-weight: bold}
.tableBuy tr:first-child:hover {background: linear-gradient(#d7be84,#be932c);}
.tableBuy tr:hover { background:#d8c9a3;}
.tableBuy td { width: auto; height: auto; padding: 5px 5px; border-right: 1px solid #fff; text-align: center; line-height: 24px; font-weight: normal}
.inputCategory { width:77%; margin-top: 5px; float: left; margin-left: 10px;}

.productSearch { width: 398px; border: 1px solid #ccc; height: 28px; line-height: 28px; background: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; margin-top: 10px;}
.productSearch input { width: 340px; height: 25px; line-height: 25px; margin: 0px; border: none; padding: 0px; outline: none}
.productSearch i { width: 30px; height: 28px; line-height: 28px; text-align: center; font-size: 20px; color: #bbb; float: left; display: block}