<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试文件</title>

</head>
<body ng-app="OptionApp">
<div ng-controller="OptionCtrl">
    {{2+2}}
    <select ng-model="" ng-options="a.name for a in animals">
        <option value="">请选择你的萌宠</option>
    </select>
    <select ng-model="seleted" ng-options="(a.name + '的爱好是' + a.favor) group by a.sex for a in animals | filter: myFilter">
        <option value="">请选择你的萌宠</option>
    </select>
</div>


<script src="../AngularJS/angular.js"></script>
<script type="text/javascript" >
    var app = angular.module('OptionApp', []);
    app.controller('OptionCtrl', ['$scope', function($scope){
        $scope.seleted = '';
        $scope.myFilter=function(item){
          return item.name=='猫';
        };
        $scope.animals = [
            {
                id: '00001',
                name: '猫',
                sex: '雌',
                food: '鱼',
                favor: '玩球'
            },
            {
                id: '00002',
                name: '狗',
                sex: '雄',
                food: '骨头',
                favor: '接盘子'
            },
            {
                id: '00003',
                name: '兔',
                sex: '雌',
                food: '胡萝卜',
                favor: '刨洞'
            },
            {
                id: '00004',
                name: '狮',
                sex: '雄',
                food: '肉',
                favor: '猎物'
            }
        ];
    }]);
</script>

</body>
</html>