<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.css"/>
    <link href="../css/popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../myjs/jquery.datetimepicker.css"/>

</head>
<body ng-app="App">
<div ng-controller="GreeterController">
    <input ng-model="name" id="#aaa"> <br>
    <!--<textarea ng-model="html"></textarea> <br>-->
    <div onclick="asd()">123</div>
<!--    <div add-book>add</div>
    <div del-book>del
        <div id="aaa">aaa</div>
    </div>-->
    <div sz-back="asd">ppp</div>
    <div sz-pop="../reception/GuestIn.html">compile</div>
    <div id="sz-popup-frame"></div>
</div>

<script src="../AngularJS/angular.js"></script>
<script>
    angular.module('App', [], function ($compileProvider) {
        // configure new 'compile' directive by passing a directive
        // factory function. The factory function injects the '$compile'
        $compileProvider.directive('szPop', function ($compile) {
            // directive factory creates a link function
            return function (scope, element, attrs) {
                element.bind("click", function () {
                    var html = '<div ng-include="\''+attrs.szPop+'\'" id="np-pop-iframe"></div>';
                    var template = angular.element(html);
                    var mobileDialogElement = $compile(template)(scope);
                    //angular.element(document.body).remove();
                    angular.element(document.getElementById('sz-popup-frame')).append(mobileDialogElement);
                    //scope.aaa = 'click';
                    scope.$apply();
                });
                /*scope.$watch(
                        'aaa',
                        function (value) {
                            //element.html('<div ng-include="\'../reception/GuestIn.html\'"></div>');
                            //angular.element(#aaa);
                            //$compile(element.contents())(scope);
                            if (scope.aaa == 'click') {
                                var html = '<div ng-include="\''+attrs.szPop+'\'" id="np-pop-iframe"></div>';
                                var template = angular.element(html);
                                var mobileDialogElement = $compile(template)(scope);
                                //angular.element(document.body).remove();
                                angular.element(document.getElementById('sz-popup-frame')).append(mobileDialogElement);
                            }
                            /!*if(scope.aaa=='click'){
                             element.append('<div ng-include="\'../reception/GuestIn.html\'" id="np-pop-iframe"></div>');
                             $compile(element.contents())(scope);
                             }*!/
                        }
                );*/
            };
        });
        $compileProvider.directive('szBack', function () {
            return function (scope, element, attrs) {
                element.bind("click", function () {
                    /*var html2=angular.template('testInclude.html');
                     var html='<div>asdasd</div>';
                     var template = angular.element(html);
                     var mobileDialogElement = $compile(template)(scope);
                     //angular.element(document.body).remove();
                     angular.element(document.body).append(mobileDialogElement);*/
                    //element.append('<div ng-include="\'testInclude.html\'"></div>');
                    //scope.$emit('readyGo', 'ready');
                    angular.element(document.getElementById('np-pop-iframe')).remove();

                });
            }
        });
    })
        /*.directive('script', function() {
         return {
         restrict: 'E',
         scope: false,
         link: function(scope, elem, attr)
         {
         if (attr.type==='text/javascript-lazy')
         {
         var s = document.createElement("script");
         s.type = "text/javascript";
         var src = elem.attr('src');
         if(src!==undefined)
         {
         s.src = src;
         }
         else
         {
         var code = elem.text();
         s.text = code;
         }
         document.head.appendChild(s);
         elem.remove();
         }
         }
         };
         })*/
            /*.directive("addBook", function ($compile) {
                return {
                    restrict: "A",
                    link: function (scope, element, attrs) {
                        element.bind("click", function () {
                            /!*var html2=angular.template('testInclude.html');
                             var html='<div>asdasd</div>';
                             var template = angular.element(html);
                             var mobileDialogElement = $compile(template)(scope);
                             //angular.element(document.body).remove();
                             angular.element(document.body).append(mobileDialogElement);*!/
                            //element.append('<div ng-include="\'testInclude.html\'"></div>');
                            element.append('<div onclick="asd()">123</div>');
                            $compile(element.contents())(scope);
                        });
                    }
                }
            })
            .directive("delBook", function ($compile) {
                return {
                    restrict: "A",
                    link: function (scope, element, attrs) {
                        element.bind("click", function () {
                            element.remove();
                        });
                    }
                }
            })*/
            .controller('GreeterController', ['$scope', function ($scope) {
                $scope.name = 'Angular';
                $scope.html = 'Hello ';
                $scope.pop = function () {
                    $scope.html = 'click';
                    $scope.aaa = 'click';
                };
                $scope.guestSource = [];
                $scope.guestSource[0] = {
                    sourceName: '123',
                    sourceCode: '456'
                };
                $scope.$on('readyGo', function (event, data) {
                    $scope.aaa = data;
                });
                $scope.checkLoggedIn = function () {
                    var type = $scope.transferType;
                }
            }])
            .controller('GuestInController', ['$scope', '$element', function ($scope, $element) {
                $scope.test = function () {
                    $element.parent().remove();
                };
                $scope.aaa = 'ready';
                $scope.$emit('readyGo', 'ready');
            }])

</script>
<script type="text/javascript">
    var asd = function () {
        alert(123);
    };
    var close = function () {
//$(window.parent.document.getElementById("np-pop-iframe")).remove();
        $("#np-pop-iframe", window.parent.document).remove();
    }
</script>
</body>
</html>