<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房态预览</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="css/jquery.contextmenu.css"/>
    <link rel="stylesheet" href="css/main_fangtai.css"/>
</head>
<body ng-app="mainApp">
<div style="width: 265px; height: 100%; float: left">

    <!-- 左侧导航菜单iframe -->
    <iframe src="left.html" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
</div>

<!--main-container-part-->
<div id="content" ng-controller="MainController as ctrl">
    <div style="width: 100%; height: 160px">
        <!-- 头部菜单iframe -->
        <iframe src="top.html" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
    </div>
    <!-- BreadcrumbNavigation begin -->
    <div class="weizhi">酒店之星 > 房态预览</div>
    <!-- BreadcrumbNavigation end -->
    <!--Filter begin-->
    <div class="saixuanbox">
        <ul class="userbox">
            <a title="" href="../login.html"><i class="icon-user"></i> <span
                    class="text">操作员设置</span></a>
            <a title="" href="../login.html"><i class="icon-signout"></i><span>退出</span></a>


        </ul>
        <ul class="saixuanul">
            <li class="sxli">
                <div class="my_xl">
                    <i class="icon-tasks lv"></i>
                    <div class="my_xl_txt" ng-bind="ctrl.roomCategorySelected.name"></div>
                    <div class="my_xl_btn"></div>
                    <ul class="my_xl_list">
                        <li ng-repeat="c in ctrl.roomCategorys"
                            ng-click="ctrl.choiceRoomCategory(c)">
                            {{c.categoryName+'-'+c.categoryCode}}
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sxli">
                <div class="my_xl">
                    <i class="icon-check hong"></i>
                    <div class="my_xl_txt" ng-bind="ctrl.roomStateSelected.name"></div>
                    <div class="my_xl_btn"></div>
                    <ul class="my_xl_list">
                        <li ng-repeat="s in ctrl.roomStates" ng-click="ctrl.choiceRoomState(s)">{{s.name}}</li>
                    </ul>
                </div>
            </li>
            <li class="sxli">

                    <i class="icon-refresh lan"></i>
                    <div class="my_fresh">刷新全部房态</div>
            </li>
        </ul>
    </div>
    <!--Filter end-->

    <!--房态预览 begin-->
    <ul class="mainRoomState">
        <li class="roomState" ng-repeat="r in ctrl.roomsShow" id="{{r.roomId}}">
             <ul>
                <li ng-bind="r.roomId"></li>
                <li ng-bind="r.categoryName"></li>
                <li class="{{r.state}}"></li>
                <ul class="rigtb">
                    <li class="icon-gift" ng-if="1"><span>生日</span></li>
                    <li class="icon-exclamation-sign"><span>特殊要求</span></li>
                    <li class="icon-star"><span>贵宾标志</span></li>
                    <li class="icon-laptop"><span>团购标志</span></li>
                    <li class="icon-flag"><span>领队标志</span></li>
                    <li class="icon-ylbz"><span>预离标志</span></li>
                    <li class="icon-zfbz" ng-if="r.dirty=='1'"><span>脏房标志</span></li>
                </ul>
              </ul>
            <div>
                <ul class="ces">你好文字！</ul>
            </div>
        </li>
       <!--<li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="S"><span>散客占房</span></li>
            </ul>
           <div>
             <ul class="ces">你好文字！</ul>
           </div>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="V"><span>可用房间</span></li>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="R"><span>预订房间</span></li>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="L"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="X"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="H"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-czkf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-mds"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-zyf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <ul class="rigtb">
                    <li class="icon-ylbz"></li>
                </ul>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="L"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-skzf"><span>散客占房</span></li>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kyfj"><span>可用房间</span></li>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-ydfj"><span>预订房间</span></li>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-wxf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-zdf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-czkf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-mds"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-zyf"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <ul class="rigtb">
                    <li class="icon-ylbz"></li>
                </ul>

            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
        </li>
        <li class="roomState">
            <ul>
                <li>0502</li>
                <li>标准间</li>
                <li class="icon-kzfb"></li>
            </ul>
            <div></div>
        </li>-->
    </ul>
    <!--房态预览 end-->

</div>
<!--main-container-part end-->


<!--Footer-part-->
<div style="width: 100%; height: 40px">
    <iframe src="foot.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
</div>

<!--end-Footer-part-->

<!--AngularJS-->
<script src="AngularJS/angular.js"></script>
<script src="AngularJS/app.js"></script>
<script src="AngularJS/service/main_service.js"></script>
<script src="AngularJS/controller/main_controller.js"></script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.contextmenu.js"></script>
<script src="js/matrix.js"></script>
<script src="js/jquery.avgrund.js"></script>
<script src="myjs/hotelMain.js"></script>
<script type="text/javascript" src="myjs/my_xiala.js"></script>
</body>
</html>