@import "foot.css";
* {  outline:none;}
html,body { margin: 0px; padding: 0px;}
/* webkit, opera, IE9 */
::selection { background:none; }
/* mozilla firefox */
::-moz-selection { background:none; }
ul,li,dl,dt,dd { margin: 0px; padding: 0px;list-style: none}
.lv { color: #507b04}
.hong { color: #670f0f}
.lan { color: #085cb3}

#content {
    background: none repeat scroll 0 0 #eeeeee;
    margin-left: 265px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height: 900px;
    width: auto;
    outline: none;
}


#main { margin: 20px;}
#main:after { content: ''; height: 0px; line-height: 0px; display: block; clear: both; overflow: hidden}

.weizhi {
    height: 50px;
    line-height:50px;
    text-align: left;
    font-size:14px;
    color: #666;
    background: url(../../images/wzdot.png) no-repeat left;
    padding-left:35px;
    margin: 0px 20px;
}
.weizhiBottom { height: 5px; line-height: 5px; overflow: hidden; background: #6b8bdf; margin:0px 20px 20px 20px;}
.saixuanbox .weizhi {
    text-align: left;
    font-size:14px;
    color: #fff;
    background: url(../../images/wzdot2.png) no-repeat left;
    padding-left:35px;
    height: 30px;line-height: 30px;margin-left: 0px;
}
.saixuanbox { padding: 10px 20px; margin: 20px 20px; height: auto; background: #6b8bdf; border-bottom: 10px solid #93a9e4; margin-top: 0px;}
.saixuanbox .saixuanul { width: 100%; height: auto;}
.saixuanbox .saixuanul:after{ clear: both; content: ''; height: 0px; line-height: 0px; overflow: hidden; display: block}
.saixuanbox .saixuanul .sxli { float: left; height: 35px;  margin-right: 10px; border: 1px solid #b5c5ef; border-radius:5px;position: relative; color: #fff;cursor:pointer; background-color: #89a2e5;}
.saixuanbox .saixuanul .sxtit{ float: left; margin-right: 10px; height: 35px; line-height: 35px; color: #fff; font-weight: bold;}
.my_fresh { padding:2px 10px; line-height: 30px; padding-left: 30px; position: relative}
.sx_xl { padding:2px 10px; position: relative; display:inline-block; text-align: left;}
.sx_xl_txt { width:auto; height: 30px; line-height: 30px; color: #fff; padding-left: 25px; padding-right: 30px; background: url(../../images/my_xiala1.png) no-repeat right;}
.sx_xl_list{border:1px solid #ccc; background: #fff;}
.sx_xl_txt,.sx_xl_list li{text-indent:0px;overflow:hidden;}
.sx_xl_list{z-index:99;position:absolute;top: 45px;left:-1px;z-index:88888;border-top:none; border-bottom: 0px; width:100%;display:none;_top:34px;margin-left:0px !important;}
.sx_xl_list:after { position: absolute;top: -7px;left: 49%;display: inline-block;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-left: 7px solid transparent;border-bottom-color: #fff;content: '';}
.sx_xl_list li{list-style:none;height: 30px;line-height: 30px;cursor:default;background:#fff;color:#666; border-bottom: 1px solid #ccc; width: 100%;}
.sx_xl_list li span { padding-left: 10px;}
.sx_xl_list li.focus{background:#3399FF;color:#fff}

.saixuanbox ul li i { position: absolute; left: 10px; top:10px;}

body {
    margin: 0px;
    padding: 0px;
    font-family:"Microsoft Yahei";
    font-size: 14px;
    color: #000;
    width: 100%;
    overflow-x: hidden;
}
table {width: 100%; margin: 0px; padding: 0px; border-collapse: collapse; border-spacing: 0;}
td { text-align: center}
ul,li,dl,dt,dd{ list-style: none}
a { text-decoration: none; color: #000}
a:hover { text-decoration: none}
.clear { width:100%; height: 1px; line-height: 1px; overflow: hidden; clear: both;}
input[type=checkbox],input[type=radio]{ margin-top: -2px; margin-right: 5px; outline: none}
.content {
    padding:0px 20px;
    background: #eee;
}
.fr{ float: right}
.fl{ float: left}

.button {  background: none; margin-top: 20px; text-align: center;border-top: 2px solid #c0cae3;  padding-top: 20px;}
.button input[type=button],.button a.sbe,.button a.sbeyellow { padding: 9px 20px; text-align: center; margin: 0px auto; margin-right: 10px; border:1px solid #bbb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; background: linear-gradient(#cfcfcf,#afafaf);
    color: #000; cursor: pointer; font-weight: bold; margin-bottom: 10px;}
.button a.sbe:hover { background: linear-gradient(#eee,#afafaf);}
.button a.sbeyellow {background: linear-gradient(#f19300,#ae6a00); color: #fff;}
.button a.sbeyellow:hover { background: linear-gradient(#ffac29,#ae6a00); color: #fff2de}
.button i { margin-right: 5px;}
.button i.icon-ok { color: #218e03}
.button i.icon-remove { color: #b70000}
.button i.icon-edit { color:#9a6407; font-size: 18px;}
.button i.icon-signout { color: #0067b7; font-size: 18px;}
.button i.icon-print{color: #0067b7; }/*打印*/
.button i.icon-search { color: #77a515}/*查询*/
.button i.icon-user { color: #da7600}/*读取会员*/
.button i.icon-inbox { color:#d41212;}/*哑房处理*/
.button i.icon-share { color: #0067b7}/*转房客*/
.button i.icon-external-link { color:#77a515}/*转单位*/
.button i.icon-plus { color: #d20000;}


.button .gray {background: linear-gradient(#ff8400, #a75a07);  color:#000; border: 1px solid #ccc}
.button .red { background: linear-gradient(#a02121,#721010); color:#fff; border: 1px solid #ccc}

.nameButton { padding: 5px 10px; line-height: 20px; border: 2px solid #b5c5ef; border-radius: 5px; float: left; cursor: pointer; margin-right: 13px; background: #e3d9c0;color: #705614;}
.nameButton a { color: #705614;}
.nameButton.hover,.nameButton:hover  { border: 2px solid #fff; background: #4666b9; color: #fff; font-weight: bold;}
.nameButton.hover a,.nameButton:hover a { color: #fff;}

#np-pop-iframe {width: 100%; z-index: 9998; position: fixed; top: 0px; left: 0px; border: none; overflow: hidden; height: 100%;}
#np-pop-iframe-print {width: 100%; z-index: 9999; position: fixed; top: 0px; left: 0px; border: none; overflow: hidden; height: 100%;}