
html,body { height: auto;}
.topbox {
    height: auto;
    padding: 20px;
    background: #dedede;
}

.topbox .ulQuick {
    border-bottom: 2px solid #8da4df;
    height:auto;
}

.topbox .ulQuick:after {
    content: '';
    display: block;
    clear: both;
    height: 2px;
    line-height: 2px;
    background: #2d4a95;
    overflow: hidden;
}
.clear { clear: both; height: 1px; line-height: 1px;
    overflow: hidden;}
.topbox .ulQuick li {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.topbox .ulQuick li:nth-child(3), .topbox ul li:nth-child(6) {
    margin-right: 25px;
}

.topbox .ulQuick li a {
    padding: 10px 23px;
    height: 65px;
    background: #eee;
    display: block;
    position: relative;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
    -webkit-box-shadow: inset 0px 0px 5px #ccc;
    -moz-box-shadow: inset 0px 0px 5px #ccc;
    box-shadow: inset 0px 0px 5px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.topbox .ulQuick li a i[class^="icon-"] {
    width: 50px;
    height: 40px;
    display: block;
    font-size: 30px;
    margin: 0 auto 5px;
    line-height: 14px;
    vertical-align: text-top;
}

.topbox .ulQuick li a .label {
    position: absolute;
    padding: 5px;
    top: -10px;
    right: -5px;
    border-radius: 3px;
    display: block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}


.userbox { float: right;}
.userbox a {
    padding: 5px 6px;
    display: block;
    cursor: pointer;
    border: 1px solid #b5c5ef;
    margin-right: 10px;
    background: #89a2e5;
    color: #fff;
    text-shadow: none;
    font-size: 26px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    -webkit-box-shadow: 1px 1px 0px #666;
    -moz-box-shadow: 1px 1px 0px #666;
    box-shadow: 1px 1px 0px #666;
    float: left;
    text-align: center;
}
.userbox a span { display: none}
.userbox a i { margin: 0px; position: static;}

.label-red {
    background-color: #b94a48;
}

.label-green {
    background-color: #468847;
}

/*top pic*/
.icon-yuding {
    background: url("../../images/toptu.png") no-repeat 0px 0px
}

.icon-fangtai {
    background: url("../../images/toptu.png") no-repeat -65px 5px
}

.icon-keyuan {
    background: url("../../images/toptu.png") no-repeat -128px 5px
}

.icon-ldjx {
    background: url("../../images/toptu.png") no-repeat -187px 0px
}

.icon-dw {
    background: url("../../images/toptu.png") no-repeat 5px -60px
}

.icon-ydkf {
    background: url("../../images/toptu.png") no-repeat -58px -63px
}

.icon-tdkf {
    background: url("../../images/toptu.png") no-repeat -128px -60px
}

.icon-bljf {
    background: url("../../images/toptu.png") no-repeat -195px -65px
}

.icon-zdmx {
    background: url("../../images/toptu.png") no-repeat 8px -128px
}

.icon-ldmx {
    background: url("../../images/toptu.png") no-repeat -57px -128px
}

.icon-jb {
    background: url("../../images/toptu.png") no-repeat -130px -130px
}

.icon-dtyf {
    background: url("../../images/toptu.png") no-repeat -195px -125px
}

.icon-qtyf {
    background: url("../../images/toptu.png") no-repeat 3px -190px
}

.icon-bkxx {
    background: url("../../images/toptu.png") no-repeat -62px -190px
}

.icon-hjcx {
    background: url("../../images/toptu.png") no-repeat -128px -195px
}

.icon-dfk {
    background: url("../../images/toptu.png") no-repeat -193px -188px
}