
<!--main-container-part-->
<div id="content">
    <div id="topbox">

    </div>

    <!-- BreadcrumbNavigation begin -->
    <div class="weizhi">酒店之星 > 房态预览</div>
    <!-- BreadcrumbNavigation end -->
    <!--Filter begin-->
    <div class="saixuanbox">
        <ul class="userbox">
            <a title="" href="#settings"><i class="icon-user"></i> <span class="text">操作员设置</span></a>
            <a title="" href="../../login.html"><i class="icon-signout"></i><span>退出</span></a>
        </ul>
        <ul class="saixuanul">
            <li class="sxtit">房间类别：</li>
            <li class="sxli2">
                <select style="width: 120px;" ng-model="roomCategory" ng-options="x.categoryName for x in roomCategories">
                    <option value="">全部</option>
                </select>

            </li>
            <li class="sxtit">房间状态：</li>
            <li class="sxli2">
                <select style="width: 120px;">
                    <option ng-repeat="s in roomStates">{{s.name}}</option>
                </select>
            </li>
            <li class="sxli2 littleButton"><input type="button" value="刷新全部房态"></li>
        </ul>
    </div>
    <!--Filter end-->

    <!--房态预览 begin-->
    <ul class="mainRoomState">
        <li class="roomState" ng-repeat="r in roomsShow" id="{{r.roomId}}" ng-click="clickGuestIn(r)">
            <ul>
                <li ng-bind="r.roomId" ></li>
                <li ng-bind="r.roomCategoryShow"></li>
                <li class="{{r.state}}"></li>
                <ul class="rigtb">
                    <li class="icon-gift" ng-if="r.birthday"><span>生日</span></li>
                    <li class="icon-exclamation-sign" ng-if="r.important"><span>特殊要求</span></li>
                    <li class="icon-star" ng-if="r.vip"><span>贵宾标志</span></li>
                    <li class="icon-laptop" ng-if="r.teamBuy"><span>团购标志</span></li>
                    <li class="icon-flag" ng-if="r.leader"><span>领队标志</span></li>
                    <li class="icon-ylbz" ng-if="r.todayLeave"><span>预离标志</span></li>
                    <li class="icon-zfbz" ng-if="r.dirty==true"><span>脏房标志</span></li>
                </ul>
              </ul>
              <div class="hoverDiv">
                  <ul>你好文字</ul>
              </div>
        </li>
    </ul>
    <!--房态预览 end-->
</div>
<button ng-click="popGuestIn=true">出现</button>
<button ng-click="popGuestIn=false">关闭</button>
<div ng-include="'GuestIn/GuestIn.html'" ng-if="popGuestIn" ng-init="popGuestIn=false"></div>