
<!--main-container-part-->
<div id="content">
    <div id="topbox">

    </div>

    <!-- BreadcrumbNavigation begin -->
    <div class="weizhi">酒店之星 > 房态预览</div>
    <!-- BreadcrumbNavigation end -->
    <!--Filter begin-->
    <div class="saixuanbox">
        <ul class="userbox">
            <a title="" href="#settings"><i class="icon-user"></i> <span class="text">操作员设置</span></a>
            <a title="" href="../../login.html"><i class="icon-signout"></i><span>退出</span></a>
        </ul>
        <ul class="saixuanul">
            <li class="sxtit">房间类别：</li>
            <li class="sxli2">
                <select style="width: 120px;" ng-model="roomCategory" ng-options="x.categoryName for x in roomCategories">
                    <option value="">全部</option>
                </select>

            </li>
            <li class="sxtit">房间状态：</li>
            <li class="sxli2">
                <select style="width: 120px;">
                    <option ng-repeat="s in roomStates">{{s.name}}</option>
                </select>
            </li>
            <li class="sxli2 littleButton"><input type="button" value="刷新全部房态"></li>
        </ul>
    </div>
    <!--Filter end-->

    <!--房态预览 begin-->
    <ul class="mainRoomState">
        <li class="roomState" ng-repeat="r in roomsShow" id="{{r.roomId}}" ng-click="clickGuestIn(r)" sz-right-click="rightClickMainState" ng-mouseenter="mouseEnter(r)">
            <ul>
                <li ng-bind="r.roomId" ></li>
                <li ng-bind="r.roomCategoryShow"></li>
                <li class="{{r.state}}"></li>
                <ul class="rigtb">
                    <li class="icon-gift" ng-if="r.birthday"><span>生日</span></li>
                    <li class="icon-exclamation-sign" ng-if="r.important"><span>特殊要求</span></li>
                    <li class="icon-star" ng-if="r.vip"><span>贵宾标志</span></li>
                    <li class="icon-laptop" ng-if="r.teamBuy"><span>团购标志</span></li>
                    <li class="icon-flag" ng-if="r.leader"><span>领队标志</span></li>
                    <li class="icon-ylbz" ng-if="r.todayLeave"><span>预离标志</span></li>
                    <li class="icon-zfbz" ng-if="r.dirty==true"><span>脏房标志</span></li>
                </ul>
              </ul>
              <div class="hoverDiv">
                  <ul>你好文字</ul>
              </div>
        </li>
    </ul>
    <!--房态预览 end-->
</div>
<!--右键菜单-->
<!--需要创建一个透明的覆盖层防止鼠标mousein如其他的房态-->
<div id="rightClickMainState" style="display: none; position: absolute; width: 100px; height: 100px; background: #ccc; z-index: 99999">
    <ul>
        <li ng-click="clickGuestOut()">客人结账</li>
        <li ng-click="clickGuestOutGroup()">团队结账</li>
        <li ng-click="">收取预付</li>
        <li ng-click="">房吧录入</li>
    </ul>
</div>
<div class="bgblack" style="display: none;"></div>
<!--弹出界面-->
<div ng-include="'guestIn/guestIn.html'" ng-if="popGuestIn"></div>
<div ng-include="'guestOut/guestOut.html'" ng-if="popGuestOut"></div>
<div ng-include="'guestOutGroup/guestOutGroup.html'" ng-if="popGuestOutGroup"></div>
