<div class="bgblack" ng-click="closeGuestIn()">
</div>
<div ng-controller="GuestInController">
    <!-- 单击开房begin -->
    <!--<div class="bgblack" sz-back>
    </div>-->
    <div class="tanchuang">
        <dl class="tctit"><h1>入住登记单</h1></dl>
        <div style="height: 630px; overflow-y: auto;">
            <table class="tableBordernone">
                <tr>
                    <td>房间类别：</td>
                    <td>
                        <select disabled="disabled" style="width: 131px;">
                            <option value="标准间" selected="selected" ng-bind="room.roomCategoryShow"></option>
                        </select>
                    </td>
                    <td>房间号码：</td>
                    <td><input type="text" value="" style="width: 135px;" ng-model="room.roomId"
                               ng-change="roomIdChanged()"></td>
                    <td>会员卡号：</td>
                    <td colspan="3"><input type="text" value="" style="width: 277px;" ng-model="checkIn.member"></td>
                </tr>
                <tr>
                    <td>客人来源：</td>
                    <td>
                        <select style="width: 131px;" ng-model="guestSource"
                                ng-options="x.sourceName for x in guestSources"
                                ng-init="guestSource=guestSources[0]">
                        </select>
                    </td>
                    <td>房价协议：</td>
                    <td>
                        <select style="width: 148px;" ng-model="protocol"
                                ng-options="x.protocolName for x in protocols | filter: protocolFilter"
                                ng-init="protocol=protocols[0]"
                                ng-change="resetRoomPriceAndBreakfast()">
                        </select>
                    </td>
                    <td>房租方式：</td>
                    <td>
                        <select style="width: 130px;" ng-model="roomPriceCategory"
                                ng-options="x.name for x in roomPriceCategories"
                                ng-init="roomPriceCategory=roomPriceCategories[0]"
                                ng-change="resetRoomPriceAndBreakfast()">
                        </select>
                    </td>
                    <td>房价：</td>
                    <td><input type="text" value="100.00" disabled="disabled" class="inputCover"
                               ng-model="room.price" style="width: 60px;">&nbsp;<font color="#d20000">{{room.breakfast}}份早餐</font>
                    </td>
                </tr>
                <tr>
                    <td>当前时间：</td>
                    <td>
                        <input type="text" disabled="disabled" style="width: 130px;"
                               ng-model="checkIn.reachTime">
                    </td>
                    <td>预住天数：</td>
                    <td>
                        <input type="button" class="jia" value="-" style="margin-right: -1px;" sz-minus="Days">
                        <input type="text" m value="1" style="width: 60px;" id="Days">
                        <input type="button" class="jia" value="+" style="margin-left: -1px;" sz-add="Days">
                    </td>
                    <td>预离时间：</td>
                    <td colspan="3">
                        <input type="text" value="2016-05-23 10:00" style="width: 130px;"
                               ng-model="checkIn.leaveTime"
                               class="datetimepicker_mask">
                    </td>
                </tr>
            </table>
            <table class="tableBorderaaa">
                <tr>
                    <td>客人姓名：</td>
                    <td><input type="text" name="name" style="width: 130px;" ng-model="checkIn.name"></td>
                    <td>证件类型：</td>
                    <td>
                        <select ng-options="x.name for x in cardCategories" ng-model="cardCategory" ng-init="cardCategory=cardCategories[0]">
                        </select>
                    </td>
                    <td>证件号码：</td>
                    <td><input type="text" value="" style="width: 250px" ng-model="checkIn.cardId"></td>
                </tr>
                <tr>
                    <td>出生日期：</td>
                    <td><datetimepicker type="text" value="" style="width: 130px;" class="birthday" ng-model="checkIn.birthday"></datetimepicker></td>
                    <td>性别：</td>
                    <td>
                        <select style="width: 120px;" ng-model="checkIn.sex" ng-options="x for x in sexes" ng-init="checkIn.sex=sexes[0]">
                        </select>
                    </td>
                    <td>民族：</td>
                    <td>
                        <input style="width: 158px;display: inline" ng-model="checkIn.race">
                    </td>
                </tr>
                <tr>
                    <td>地址：</td>
                    <td colspan="5"><input type="text" value="" style="width: 770px;" ng-model="checkIn.address"></td>
                </tr>
            </table>
            <h1 class="addCustomerh1">
                新增随客信息 &nbsp;<a href="javascript:void(0)" class="sss btnOpen" onclick="jqToggle()">展开</a>
            </h1>

            <div class="divOther none">
                <table class="ruzhu tableBlue">
                    <thead>
                    <tr>
                        <td>姓名</td>
                        <td style="width: 90px">出生年月</td>
                        <td>性别</td>
                        <td>民族</td>
                        <td>证件类型</td>
                        <td width="160">证件号码</td>
                        <td width="180">地址</td>
                        <td width="65">操作</td>
                    </tr>
                    </thead>
                    <tr ng-repeat="r in checkInSameList">
                        <td><input type="text" ng-model="r.name"/></td>
                        <td><input type="text" ng-model="r.birthday" style="width: 90px"/></td>
                        <td><input type="text" ng-model="r.sex"/></td>
                        <td><input type="text" ng-model="r.race"/></td>
                        <td><input type="text" ng-model="r.cardType"/></td>
                        <td><input type="text" ng-model="r.cardId" width="160"/></td>
                        <td><input type="text" ng-model="r.address" width="180"/></td>
                        <td width="65"></td>
                    </tr>
                    <tr>
                        <td>
                            <input ng-model="checkInSame.name" type="text" value=""></td>
                        <td>
                            <input ng-model="checkInSame.birthday" type="text" value="" style="width: 90px;"
                                   class="datetimepicker_mask"></td>
                        <td>
                            <select ng-model="checkInSame.sex" ng-options="x for x in sexes" ng-init="checkInSame.sex=sexes[0]"></select>
                        </td>
                        <td>
                            <input ng-model="checkInSame.race"/>
                        </td>
                        <td>
                            <select ng-options="x.name for x in cardCategories" ng-model="cardCategoryInSame" ng-init="cardCategoryInSame=cardCategories[0]">
                            </select>
                        </td>
                        <td>
                            <input type="text" ng-model="checkInSame.cardId" style="width: 160px" value=""></td>
                        <td>
                            <input type="text" ng-model="checkInSame.address" style="width: 160px" value=""></td>
                        <td>
                            <img src="../images/save.png" width="12" height="12" alt="增加" ng-click="addCheckInSame()">
                            <img src="../images/010.gif" width="12" height="12" ng-click="delCheckInSame()" alt="删除">
                        </td>
                    </tr>
                </table>
            </div>

            <table class="tableBorderfff">
                <tr>
                    <td style="width:100px;">预付款：</td>
                    <td><input type="text" name="money" class="input" ng-model="checkIn.checkInDeposit"
                               style="width: 100px;"></td>
                    <td>支付方式：</td>
                    <td colspan="3">
                        <select style="width: 130px;" ng-options="x.currencyName for x in currencies" ng-model="currency" ng-init="currency=currencies[0]">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>可挂账单位：</td>
                    <td>
                        <select style="width: 220px;">
                            <option value="可挂账单位1">可挂账单位1</option>
                            <option value="可挂账单位2">可挂账单位2</option>
                            <option value="可挂账单位3">可挂账单位3</option>
                        </select>
                    </td>
                    <td>储值卡号：</td>
                    <td colspan="3"><input type="text" style="width: 300px"></td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td colspan="5">
                        <textarea style="width: 735px; height: 50px;" ng-model="checkIn.remark">备注内容</textarea>
                    </td>
                </tr>
            </table>
            <dl class="button">
                <div class="fl">
                    <input type="button" ng-click="test()" value="读取身份证"> &nbsp;<input type="checkbox" ng-model="checkIn.vip">是否贵宾
                </div>
                <div ng-show="somethingWrong" ng-bind="wrongMessage"></div>
                <div class="fr">
                    <input type="button" ng-click="guestInAction()" value="确认付款" ng-disabled="somethingWrong">
                    <input type="button" class="sbegray" value="关闭" ng-click="closeGuestIn()">
                </div>
            </dl>
        </div>

    </div>
</div>
<!--<script>
    $('.datetimepicker_mask').datetimepicker({


    });
</script>-->
