<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>单击开房</title>
</head>
<div ng-controller="GuestInController">

<!-- 单击开房begin -->
<div class="bgblack" sz-back>
</div>
<div class="tanchuang">
    <dl class="tctit"><h1>入住登记单{{2+2}}</h1></dl>
    <div style="height: 630px; overflow-y: auto;">
        <table class="tableBordernone">
            <tr>
                <td>房间类别：</td>
                <td>
                    <select disabled="disabled" style="width: 131px;">
                        <option value="豪华总统套房">豪华总统套房</option>
                        <option value="标准间" selected="selected" ng-bind="room.roomCategoryShow"></option>
                        <option value="单人间">单人间</option>
                    </select>
                </td>
                <td>房间号码：</td>
                <td><input type="text" value="" style="width: 135px;" ng-model="room.roomId"></td>
                <td>会员卡号：</td>
                <td colspan="3"><input type="text" value="" style="width: 277px;" ng-model="checkIn.member"></td>
            </tr>
            <tr>
                <td>客人来源：</td>
                <td>
                    <select style="width: 131px;" ng-model="guestSource" ng-options="x.sourceName for x in guestSources">
                        <option value="">散客</option>
                    </select>
                </td>
                <td>房价协议：</td>
                <td>
                    <select style="width: 148px;" ng-model="protocol" ng-options="x.protocolName for x in protocols">
                        <option value="">门市价</option>
                    </select>
                </td>
                <td>房租方式：</td>
                <td>
                    <select style="width: 130px;" ng-model="roomPriceCategory" ng-options="x.name for x in roomPriceCategories">
                        <option value="">日租房</option>
                    </select>
                </td>
                <td>房价：</td>
                <td><input type="text" value="100.00" disabled="disabled" class="inputCover" ng-model="checkIn.finalRoomPrice" style="width: 60px;">&nbsp;<font color="#d20000">{{checkIn.breakfast}}份早餐</font> </td>
            </tr>
            <tr>
                <td>当前时间：</td>
                <td>
                    <input type="text" value="2016-05-22 10:00" disabled="disabled" style="width: 120px;">
                </td>
                <td>预住天数：</td>
                <td>
                    <input type="button" class="jia" value="-" style="margin-right: -1px;" sz-minus="Days">
                    <input type="text"m value="1" style="width: 60px;" id="Days">
                    <input type="button" class="jia" value="+" style="margin-left: -1px;" sz-add="Days">
                </td>
                <td>预离时间：</td>
                <td colspan="3">
                    <input type="text" value="2016-05-23 10:00" style="width: 120px;" ng-model="checkIn.reachTime" class="datetimepicker_mask">
                </td>
            </tr>
        </table>
        <table class="tableBorderaaa">
            <tr>
                <td>客人姓名：</td>
                <td><input type="text" name="name" style="width: 130px;"></td>
                <td>证件类型：</td>
                <td>
                    <select style="width: 120px;">
                        <option value="身份证" selected="selected">身份证</option>
                        <option value="二代身份证">二代身份证</option>
                        <option value="护照">护照</option>
                        <option value="军官证">军官证</option>
                    </select>
                </td>
                <td>证件号码：</td>
                <td><input type="text" value="" style="width: 250px"></td>
            </tr>
            <tr>
                <td>出生日期：</td>
                <td><input type="text" value="" style="width: 130px;" class="birthday datetimepicker_mask"></td>
                <td>性别：</td>
                <td>
                    <select style="width: 120px;">
                        <option value="女">女</option>
                        <option value="男" selected="selected">男</option>
                    </select>
                </td>
                <td>民族：</td>
                <td>
                    <select style="width: 158px;display: inline">
                        <option value="汉族" selected="selected">汉族</option>
                        <option value="阿昌族">阿昌族</option>
                        <option value="白族">白族</option>
                        <option value="保安族">保安族</option>
                        <option value="布朗族">布朗族</option>
                        <option value="布依族">布依族</option>
                        <option value="朝鲜族">朝鲜族</option>
                        <option value="达斡尔族">达斡尔族</option>
                        <option value="傣族">傣族</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>地址：</td>
                <td colspan="5"><input type="text" value="" style="width: 770px;"></td>
            </tr>
        </table>
        <h1 class="addCustomerh1">
            新增随客信息 &nbsp;<a href="javascript:void(0)" class="sss btnOpen" onclick="jqToggle()">展开</a>
        </h1>
        <div class="divOther none">
            <table cellpadding="0" cellspacing="0" class="ruzhu tableBlue">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th style="width: 90px">出生年月</th>
                    <th>性别</th>
                    <th>民族</th>
                    <th>证件类型</th>
                    <th width="160">证件号码</th>
                    <th width="180">地址</th>
                    <th width="65">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <input type="button" value="+" class="butn btnAddOtherCustomer" onclick="jqAddCustomer()" />
        </div>

        <table class="tableBorderfff">
            <tr>
                <td style="width:100px;">预付款：</td>
                <td><input type="text" name="money" class="input" ng-model="checkIn.checkInDeposit" style="width: 100px;"></td>
                <td>支付方式：</td>
                <td colspan="3">
                    <select style="width: 130px;">
                        <option value="人民币">人民币</option>
                        <option value="信用卡">信用卡</option>
                        <option value="单位支付">单位支付</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>可挂账单位：</td>
                <td>
                    <select style="width: 220px;">
                        <option value="可挂账单位1">可挂账单位1</option>
                        <option value="可挂账单位2">可挂账单位2</option>
                        <option value="可挂账单位3">可挂账单位3</option>
                    </select>
                </td>
                <td>储值卡号：</td>
                <td colspan="3"><input type="text" style="width: 300px"></td>
            </tr>
            <tr>
                <td>备注：</td>
                <td colspan="5">
                    <textarea style="width: 735px; height: 50px;" ng-model="checkIn.remark">备注内容</textarea>
                </td>
            </tr>
        </table>
        <dl class="button">
            <div class="fl"><input type="button" ng-click="test()" value="读取身份证"> &nbsp;<input type="checkbox" ng-model="checkIn.vip">是否贵宾</div>
            <div class="fr"><input type="button" ng-click="guestInAction()" value="确认付款"><input type="button" class="sbegray" value="关闭" sz-back></div>
        </dl>
    </div>


    <table id="divEditRow" class="none">
        <tbody>
        <tr>
            <td>
                <input type="text" value="" style="width: 65px;"></td>
            <td>
                <input type="text" value="" style="width: 80px;" class="datetimepicker_mask"></td>
            <td>
                <select>
                    <option>男</option>
                    <option>女</option>
                </select></td>
            <td>
                <select>
                    <option value="">请选择</option>
                    <option value="汉族">汉族</option>
                    <option value="阿昌族">阿昌族</option>
                    <option value="白族">白族</option>
                    <option value="保安族">保安族</option>
                    <option value="布朗族">布朗族</option>
                    <option value="布依族">布依族</option>
                    <option value="朝鲜族">朝鲜族</option>
                </select>
            </td>
            <td>
                <select>
                    <option value="身份证">身份证</option>
                    <option value="二代身份证">二代身份证</option>
                    <option value="护照">护照</option>
                    <option value="军官证">军官证</option>
                </select>
            </td>
            <td>
                <input type="text" style="width: 160px" value=""></td>
            <td>
                <input type="text" style="width: 160px" value=""></td>
            <td>
                <img src="../images/save.png" width="12" height="12" alt="保存">
                <img src="../images/010.gif" width="12" height="12" onclick="RowDelete(this)" alt="删除">
            </td>
        </tr>
        </tbody>
    </table>
</div>


</div>
<script>

    $('.datetimepicker_mask').datetimepicker({

    });

</script>
</html>





